@model App.Module.Module3.Areas.Module3Area.Models.Module3AreaModel
@{
    Layout = "~/Modules/App.Module.Module3/Areas/Module3Area/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";

}

<h4>@Model.Message</h4>